<div class="m-color-scheme--red">
    <article class="o-wrapper o-wrapper--to@md o-box o-box--space-large">
        <h2 class="m-heading--medium">El projecte &#127918;</h2>
        <p>A diferència dels anys anteriors, aquest any el projecte del Hackathon és públic i hem demanat a un "amic" que ens preparés un video per explicar-lo</p>
        <p class="o-ratio o-ratio--16:9">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/vvimBPJ3XGQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </p>
        <p>El projecte d'aquest any és simple: construir un prototip d'un assistent personal tal com va fer en Mark Zuckerberg en el seu repte anual del 2016. Ell proclama en
            <a href="https://www.facebook.com/notes/mark-zuckerberg/building-jarvis/10154361492931634/">aquest article</a> que el va fer en unes 100 hores. Serem capaços els Gironins de fer-lo en només 24? Segur que sí!</p>
        <p>La idea és muntar totes les parts d'aquest sistema: des de diferents interfícies com chat bots o apps que contactin amb un sistema central i acabant pels controladors que gestionin diferents elements de hardware mitjançant arduinos i raspberrys. Creiem que és un projecte engrescador que ens permetrà passar una fantàstica jornada i aprendre molt.</p>
        <p>A més, tothom pot proposar móduls d'aquest sistema i des de l'equip intentarem comprar el material necessari perquè els pugueu portar a terme durant la jornada. Per tant, ja sabeu: escribiu-nos a
            <a href="mailto:hackathongi@gmail.com">hackathongi@gmail.com</a> i proposeu quina part de la casa voldríeu controlar i què creieu que necessiteu per poder-ho fer. Des de l'organització portarem ja preparats alguns projectes com la gestió de llums, controlar una torradora, posar música a l'spotify o captar informació de varis sensors. Tots ells s'hauran de poder gestionar des de les diferents interfícies que es decideixin desenvolupar (bots, apps, web...). Divertit no?</p>
    </article>
</div>
