<div class="t-home__sponsors m-color-scheme--white">
    <aside class="o-wrapper o-wrapper--to@md o-box o-box--space-large u-align-center">
        <div class="t-home__sponsors--gold">
            <h4 class="m-heading--small">Patrocinadors</h4>
            <div class="o-layout o-layout--center o-layout--middle o-layout--space-large">
                {% for sponsor in site.data.sponsors.gold %}
                <div class="o-layout__item u-1/2@sm u-1/3@md">
                    <a {% if sponsor.href %} href="{{ sponsor.href }}" target="_blank" {% endif %}>
                        <img src="img/{{ sponsor.image }}" alt="{{ sponsor.name }}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="t-home__sponsors--silver">
            <h4 class="m-heading--small">Col·laboradors</h4>
            <div class="o-layout o-layout--center o-layout--middle o-layout--space-large">
                {% for sponsor in site.data.sponsors.silver %}
                <div class="o-layout__item u-1/2 u-1/4@sm u-1/5@md">
                    <a {% if sponsor.href %} href="{{ sponsor.href }}" target="_blank" {% endif %}>
                        <img src="img/{{ sponsor.image }}" alt="{{ sponsor.name }}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </aside>
</div>