<div class="t-home__event-details m-color-scheme--white">
    <article class="o-wrapper o-wrapper--to@md o-box o-box--space-large">
        <h2 class="m-heading--medium">Com funciona &#129300;</h2>
        <div class="o-layout">
            <div class="o-layout__item u-2/3@sml">
                <p>Durant les setmanes anteriors anirem revelant el projecte a través de la web i via e-mail perquè tothom pugui proposarne idees o anar-lo preparant. El divendres es presentarà el projecte al complet i durant el dissabte el convertirem en una realitat. Si vols rebre els correus pots enviar un e-mail a <a href="mailto:hackathongi@gmail.com">hackathongi@gmail.com</a> o apuntar-te directament a l'EventBrite</p>
                <b><a href="/faq/faq.html">Veure les PMF</a></b>
            </div>
            <div class="o-layout__item u-1/3@sml u-align-right@sml">
                <dl class="c-list-description">
                    <dt>Div. 31 de març - 18:30h</dt>
                    <dd>Presentació del projecte</dd>
                    <dt>Diss. 1 d'abril - de 8 a 22h</dt>
                    <dd>Desenvolupament</dd>
                    <dt>Diss. 1 d'abril - 22h</dt>
                    <dd>Demo final i festa de cloenda</dd>
                    <dt>Parc Científic i Tecnològic - Girona</dt>
                </dl>
            </div>
        </div>
    </article>
</div>
