<div class="m-color-scheme--turquoise">
    <article class="o-wrapper o-wrapper--to@md o-box o-box--space-large">
        <h2 class="m-heading--medium">Vols venir &#9757;&#65039;</h2>
        <span>Si ets un:</span>
        <div class="o-layout__item">
            <ul>
                <li>Programador</li>
                <li>IoT specialist</li>
                <li>Machine learning lover</li>
                <li>Dissenyador</li>
                <li>Apassionat de les startups (ja sigui de producte, marketing i negoci)</li>
            </ul>
        </div>
        <p>Apuntat al link següent:</p>
        <p><a href="http://www.eventbrite.com/e/hackathon-girona-2017-tickets-31964768483?ref=ebtnebtckt" target="_blank" class="c-btn c-btn--red">Comprar entrada</a></p>
        <p>* L’edició d’enguany té un preu simbòlic de 5€ per ajudar en la compra del hardware necessari</p>
        <p>Al final del hackathon ens sortejarà el material utilitzat entre els assistents (arduinos, raspberry, ...)</p>
    </article>
</div>
