
/* ==========================================================================
 * LEADING HEADER
 *
 * Appears on home page
 *
   ========================================================================== */

.c-leading-header {
  text-align: center;
  padding: $s-space;
}

.c-leading-header__brand {
  &#{&} {
    @include mq($from: md) {
      font-size: 1.5rem;
    }
  }
}