
/* -------------------------------------------------------------------------
 * COLORS COLLECTIONS
 *
 * Define Sunweb collections colors
 */


$s-color-collection-excellent:      #817452 !default;
$s-color-collection-secrets:        #4fcae5 !default;
$s-color-collection-selections:     #f23641 !default;
$s-color-collection-xperience:      #fba546 !default;


/* AS AN OBJECT
 * Used in utilities
 */
$s-colors-collection: (
  excellent:                $s-color-collection-excellent,
  secrets:                  $s-color-collection-secrets,
  selections:               $s-color-collection-selections,
  xperience:                $s-color-collection-xperience,
) !default;
