
/* -------------------------------------------------------------------------
 * ALIGNMENTS
 *
 * Force text alignment
 *
 */

$u-align-enabled:                       true !default;

$u-align-include-modifiers-bp:          true !default;
$u-align-bp:                            map_remove($s-breakpoints, xxs) !default;


@mixin u-alignment($direction: left, $bp: null) {
  .u-align-#{$direction}#{$bp} {
    text-align: $direction !important;
  }
}

@if ($u-align-enabled) {
  @include u-alignment(left);
  @include u-alignment(center);
  @include u-alignment(right);
}

@if ($u-align-enabled and $u-align-include-modifiers-bp) {
  @each $bp-name, $bp-value in $u-align-bp {
    @include mq($from: $bp-name) {
      @include u-alignment(left, \@#{$bp-name});
      @include u-alignment(center, \@#{$bp-name});
      @include u-alignment(right, \@#{$bp-name});
    }
  }
}
